/* :root {
  --darcos-primary: #709dd3;
  --darcos-dark: #161e29;
  --darcos-medium: #435e7e;
} */

.btn.btn-primary {
  text-align: center;
  background-image: linear-gradient(to right, var(--darcos-primary), var(--darcos-primary-gradient)) !important;
  /* background-color: var(--darcos-primary) ; */
  box-shadow: 0 4px 12px 0 rgba(112, 157, 211, 0.75);
}

#page-leaderboard > div.container.page-body > div.page-wrapper > div > div.row.layout-main > div.col-lg-2.layout-side-section > ul > li.standard-sidebar-item {
  padding: 10% !important;
}

.btn.btn-primary:hover {
  /* background-image: linear-gradient(to right, var(--darcos-primary), #a9c4e5); */
  background-color: #a9c4e5 ;
}
.btn-primary {
  font-weight: bold;
}

.standard-sidebar .standard-sidebar-item.selected, .desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected {
  /* background-image: linear-gradient(to right, var(--darcos-primary), #a9c4e5); */
  background-color: var(--darcos-medium) ;
  box-shadow: var(--shadow-md);
}

.navbar a {
  color: white !important;
}

.navbar svg {
  stroke: white;
  fill: white;
}

.standard-sidebar .standard-sidebar-item.selected:hover, .desk-sidebar .standard-sidebar-item.selected:hover, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected:hover {
  /* background-image: linear-gradient(to right, var(--darcos-primary), #a9c4e5); */
  background-color: var(--darcos-primary) ;
  box-shadow: 0 4px 10px 0 rgba(112, 157, 211, 0.50);
}


.btn {
    padding: var(--padding-sm) var(--padding-sm) !important;
    box-shadow: var(--shadow-sm) !important ;
}

#awesomplete_list_1 > li a {
  color: black !important ;
}

#toolbar-help > a {
  color: black !important ;
}

body > div.main-section > header > div > div > form > div > span > svg {
  stroke: black;
  /* fill: black ; */
}

#toolbar-user > a {
  color: black !important ;
}

.standard-sidebar-item {
    justify-content: space-between !important;
    padding: 0px !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important }

.standard-sidebar-item .item-anchor {
    display: flex !important;
    overflow: hidden !important;
    /* padding: 0px 2px 0px 10px !important; */
    padding: 2% !important;
    padding-top: 0px !important;
    /* padding-right: 2px !important; */
    padding-bottom: 0px !important;
    padding-left: 10% !important;
    flex: 1;
}

.widget.shortcut-widget-box {
    cursor: pointer !important;
    /* box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05); */
    border-radius: 0.4rem !important;
    padding: 4% !important;
    background: var(--darcos-medium) !important;
    box-shadow: var(--shadow-base) !important;
    /* box-shadow: 0 2px 10px 0 rgba(112, 157, 211, 0.25); */
    /* background: none !important; */
    /* box-shadow: var(--shadow-sm) ; */
        /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(64, 64, 64, 0.35) !important; */
    /* color: white !important; */
}

.widget.shortcut-widget-box:hover {
    cursor: pointer !important;
    /* box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05); */
    border-radius: 0.4rem !important;
    padding: 4% !important;
    background-color: var(--darcos-primary) !important;
    box-shadow: var(--shadow-md) !important;
    /* box-shadow: 0 2px 10px 0 rgba(112, 157, 211, 0.25); */
    /* background: none !important; */
    /* box-shadow: var(--shadow-sm) ; */
        /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(64, 64, 64, 0.35) !important; */
    /* color: white !important; */
}

[data-page-route=Workspaces] .codex-editor .codex-editor__redactor .ce-block .divider {
    height: 30%;
    position: absolute;
    top: 18px;
    right: 0;
    border-right: none !important;
}

div.widget.shortcut-widget-box > div.widget-head > div.widget-label > div.widget-title > svg {
  stroke: white !important;
  fill: white !important;
}

div.widget.shortcut-widget-box > div.widget-head > div.widget-label > div.widget-title > span {
  color: white !important
}

div.widget.shortcut-widget-box > div.widget-head {
  justify-content: center !important;
}

.navbar{
  background-color: var(--darcos-dark) ;
  /* background-image: linear-gradient(to right, var(--darcos-primary), #a9c4e5); */
}

.standard-sidebar .standard-sidebar-item:hover, .desk-sidebar .standard-sidebar-item:hover, .search-dialog .search-results .search-sidebar .standard-sidebar-item:hover {
  box-shadow: 0 1.5px 3px rgba(0,0,0,0.05);
  background: transparent;
  z-index: 0;
}

.standard-sidebar .standard-sidebar-item.selected a, .desk-sidebar .standard-sidebar-item.selected a, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected a {
color: white;
}



span.sidebar-item-icon {

    background: var(--darcos-dark);
    display: flex;
    padding: 2%;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-md) !important;
    height: 30px;
    width: 30px;
}

span.sidebar-item-icon > svg {

  --icon-stroke: white !important;
  stroke: white;
  stroke-width: 1.5px;
  text-align: center;
  margin: auto !important;
  justify-content: center;
  align-items: center;
}

.page-head {
  box-shadow: 0 -10px 26px 0 rgb(65 132 234 / 75%) ;
}

.standard-sidebar-item.selected span svg {
  --icon-stroke: white !important;
  stroke-width: 1.5px !important;
}

.standard-sidebar-item.selected {
color: white !important;
}

:root,
[data-theme=light] {
  --bg-color: white;
}

[data-theme=dark] {
  --bg-color: #161a1f;
}




.page-actions .btn, .page-actions div#driver-popover-item .driver-popover-footer button, div#driver-popover-item .driver-popover-footer .page-actions button {
    height: auto !important;
}


.page-actions .btn:not(.icon-btn), .page-actions div#driver-popover-item .driver-popover-footer button:not(.icon-btn), div#driver-popover-item .driver-popover-footer .page-actions button:not(.icon-btn) {
    /* padding: 11px 22px !important; */
    padding: 11px 22px !important;
}


.image-view .image-view-container .image-view-item {
    box-shadow: var(--shadow-md) !important;
}

.image-view .image-view-container .image-view-item:hover {
    box-shadow: var(--shadow-lg) !important;
}


.widget.links-widget-box {
    padding: 6%;
    box-shadow: var(--shadow-base) !important;
}


.standard-sidebar-item .sidebar-item-label {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
